/** 
CSS for About Me Page
**/

nav {
    background-color: #fff;
    height: 50%;
}

nav ul {
}

nav ul li {
    float: right;
    list-style-type: none;
    width: 150%;
    border-right: 1px solid #ebebeb;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #ebebeb;
    line-height: 50%;
}